Source: bwrenamer
Section: utils
Priority: optional
Maintainer: Antti-Pekka Meronen <antice@kapsi.fi>
Build-Depends: appstream, debhelper-compat (= 13), dh-python, pybuild-plugin-pyproject,
 python3-all, python3-pyside6.qtwidgets, python3-setuptools
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: bwrenamer
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyside6.qtwidgets
Description: Desktop application for batch renaming files
 bwRenamer renames multiple files using interactive text tools.
